/* HeroDetailComponent's private CSS styles */
label {
    color: #9b0101;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #070707;
  }
  button:disabled {
    background-color: #eee;
    color: #0a0a0a;
    cursor: auto;
  }